# Ignore files for Eslint when linting
src/assets/
dist/
build/

*.json
*.log
*.lock
README.md

# Dotfiles
.buckconfig
.env*
.eslintignore
.eslintrc.js
.flowconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc.js
.watchmanconfig
