# Ignore files for Prettier when linting
src/assets/
src/serviceWorker.ts

*.svg
*.json
*.log
*.lock
README.md

# Dotfiles
.idea
.buckconfig
.env*
.eslintignore
.eslintrc.js
.flowconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc.js
.watchmanconfig
.idea
.DS_Store

